body {
    width: 92%;
    margin: 0 auto;
    padding: 20px 0;
}
@media (min-width: 768px) {
    body {
        padding: 80px 0 50px 0;
        max-width: 640px;
    }
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section {
    margin: 1.5rem 0;
}

section div {
    margin: 1rem 0;
}

td {
    min-width: 80px;
    vertical-align: top;
}